<div class="newsletter">
    <h2>Sign Up for updates</h2>
    <form method="POST" action="/newsletter">
        {{ csrfField() }}
        <div class="subs-box">
            <input name="email" type="email" required placeholder="Email" />
            <button class="bg-dark text-white" type="submit"> Sign Up </button>
        </div>
    </form>
</div>