<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @include('inc.links')

    {{ style('style') }}
    {{ style('assets/css/main.css') }}
    
    <title>
        @!section('title')
    </title>
</head>

<body>
    <div id="fb-root"></div>
    {{--  facebook  --}}
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
    {{--  twitter   --}}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    @include('inc.header')
    @include('inc.sticky')
        @!section('content')
    @include('inc.footer')

    @include('inc.scripts')
</body>

</html>